In [ ]:
import warnings
warnings.simplefilter("ignore", category=DeprecationWarning)
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import rankdata

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from plotly.offline import init_notebook_mode
init_notebook_mode(connected=True)

from sklearn.model_selection import StratifiedKFold, train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import roc_auc_score, roc_curve, accuracy_score, f1_score, confusion_matrix, classification_report
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier

In [3]:
import pandas as pd
train = pd.read_csv('C:/Users/harsh/OneDrive/Documents/Data Analytics/Kaggle/Predicting Loan Payback -S5E11/playground-series-s5e11/train.csv')
test = pd.read_csv('C:/Users/harsh/OneDrive/Documents/Data Analytics/Kaggle/Predicting Loan Payback -S5E11/playground-series-s5e11/test.csv')
orig = pd.read_csv('C:/Users/harsh/OneDrive/Documents/Data Analytics/Kaggle/Predicting Loan Payback -S5E11/playground-series-s5e11/loan_dataset_20000.csv')
print('Train Shape:', train.shape)
print('Test Shape:', test.shape)
print('Orig Shape:', orig.shape)
train.head(5)

Train Shape: (593994, 13)
Test Shape: (254569, 12)
Orig Shape: (20000, 22)

,id,annual_income,debt_to_income_ratio,credit_score,loan_amount,interest_rate,gender,marital_status,education_level,employment_status,loan_purpose,grade_subgrade,loan_paid_back
0,0,29367.99,0.084,736,2528.42,13.67,Female,Single,High School,Self-employed,Other,C3,1.0
1,1,22108.02,0.166,636,4593.10,12.92,Male,Married,Master's,Employed,Debt consolidation,D3,0.0
2,2,49566.20,0.097,694,17005.15,9.76,Male,Single,High School,Employed,Debt consolidation,C5,1.0
3,3,46858.25,0.065,533,4682.48,16.10,Female,Single,High School,Employed,Debt consolidation,F1,1.0
4,4,25496.70,0.053,665,12184.43,10.21,Male,Married,High School,Employed,Other,D1,1.0

In [4]:
TARGET = 'loan_paid_back'
CATS = ['gender', 'marital_status', 'education_level', 'employment_status', 'loan_purpose', 'grade_subgrade']
FEATURES = [col for col in train.columns if col not in ['id', TARGET]]
print(len(FEATURES), 'features.')

11 features.

In [5]:
X = train[FEATURES]
y = train[TARGET]

In [6]:
from sklearn.model_selection import StratifiedKFold

N_SPLITS = 5
skf = StratifiedKFold(n_splits=N_SPLITS, shuffle=True, random_state=42)

In [ ]:
from